.ModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $colorModalOverlayBg;
  z-index: $zIndexModal;
}

.Modal {
  position: absolute;
  width: 600px;
  min-width: 300px;
  min-height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: $borderRadius;
  background: $colorModalBg;
  outline: none;
  -webkit-overflow-scrolling: touch;
  
  > header {
    position: relative;
    height: $headerHeight;
    border-radius: $borderRadius;
    background: $colorLightGray;

    .title {
      padding: 0 10px;
      line-height: $headerHeight;
    }

    .right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }

  > main {
    position: relative;

    .message {
      text-align: center;
    }
  }

  > footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $buttonHeight;
    padding: 10px;
    text-align: right;

    .Button + .Button {
      margin-left: 10px;
    }
  }

  &.full {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;

    > header {
      position: relative;
      box-sizing: border-box;
      height: $headerHeight;
      border-bottom: solid 1px $colorBorder;
      background: #eee;

      .title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        line-height: $headerHeight;
      }

      .left, .right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .left {
        left: 5px;
      }

      .right {
        right: 5px;
      }
    }

    > main {
      height: calc(100% - #{$headerHeight});
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .Modal {
    width: 100%;
  }
}
