.ToolBar {
    position: relative;

    &.top {
        border: none;
        // border-bottom: solid 1px $colorBorder;
        border-radius: none;
        box-shadow: 0 0 5px 1px lighten($color: $colorGray, $amount: 5%);

        .Separator {
            display: inline-block;
            width: 1px;
            height: calc(#{$buttonHeight} - 12px);
            margin: 6px 2px;
            border-left: solid 1px $colorLightGray;
            border-right: solid 1px $colorLightGray;
            background: $colorGray;
            vertical-align: bottom;
        }
    }

    &.float {
        position: absolute;
        top: $buttonHeight;
        left: -5px;
        border: solid 1px $colorBorder;
        // border-radius: $borderRadius;
        background: $colorBg;
        box-shadow: 0 3px 5px 1px lighten($color: $colorGray, $amount: 5%);
    }
}
