.Button.icon, .btn.icon {
  display: inline-block;
  width: $buttonHeight;
  height: $buttonHeight;
  padding: 4px;
  border: none; // solid 1px $colorBorder;
  border-radius: $borderRadius;
  background: transparent;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;

  &.large {
    width: $buttonHeightLarge;
    height: $buttonHeightLarge;
    font-size: 38px;
    line-height: 38px;
  }

  &.small {
    width: $buttonHeightSmall;
    height: $buttonHeightSmall;
    font-size: 22px;
    line-height: 22px;
  }

  &:hover {
    background: $colorWhite;
  }
}

.Button.icon {
}
