.Button, .btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: $buttonHeight;
  padding: 10px 20px;
  border: solid 1px $colorBorder;
  border-radius: $borderRadius;
  background: $colorWhite;
  color: $colorButton;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  .fa-spin {
    display: none;
    margin-right: 10px;
  }

  &.large {
    height: $buttonHeightLarge;
    padding: 12px 24px;
    font-size: 1.2em;
  }

  &.small {
    height: $buttonHeightSmall;
    padding: 8px 16px;
    font-size: 0.8em;
  }

  &:hover {
    background: $colorGray;
    color: $colorButtonHover;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    border-color: lighten($color: $colorGray, $amount: 10%);
    background: lighten($color: $colorGray, $amount: 10%);
    color: $colorLightGray;

    .fa-spin {
      display: inline-block;
    }
  }

  &.primary {
    border-color: $colorPrimary;
    background: $colorPrimary;
    color: $colorWhite;

    &:disabled {
      border-color: lighten($color: $colorPrimary, $amount: 10%);
      background: lighten($color: $colorPrimary, $amount: 10%);
      color: $colorGray;

      .fa-spin {
        display: inline-block;
      }
    }
  }

  &.block {
    width: 100%;
  }
}
