.Header {
  position: relative;
  box-sizing: border-box;
  height: $headerHeight;
  background: $colorBg;
  box-shadow: 0 0 2px 2px $colorGray;
  z-index: $zIndexHeader;

  .title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: $headerHeight;
  }

  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    left: 5px;
  }

  .right {
    right: 5px;
  }
}

@media screen and (max-width: 600px) {
  .Header {
    z-index: $zIndexSidebar;
  }
}
