.Layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  > .Header {

  }

  > main {
    position: absolute;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    left: 0;
    background: $colorBg;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .SideBar {
    z-index: $zIndexSidebar;

    .dimmer {
      display: none;
    }

    > main {
      display: none;
      z-index: $zIndexSidebar;
    }
  }

  &.sidebar-on {
    .SideBar {
      display: block;
      position: absolute;
      top: $headerHeight;
      right: 0;
      bottom: 0;
      left: 0;

      > main {
        display: block;
      }
    }

    > main {
      left: $sidebarWidthFixed;
    }
  }
}


@media screen and (max-width: 600px) {
  .Layout {
    .Header {
      width: 100%;
      margin-left: 0;
    }


    .SideBar {
      display: none;

      .dimmer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &.sidebar-on {
      padding-left: $sidebarWidthFixed;

      .Header {
        position: absolute;
        width: 100%;
      }

      .SideBar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .dimmer {
          display: block;
        }

        > main {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      > main {
        width: 100%;
        left: $sidebarWidthFixed;
      }
    }
  }
}
