.Page {
  box-sizing: border-box;
  max-width: $pageWidthMax;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  background: $colorWhite;
  box-shadow: 0 0 16px 16px $colorLightGray;

  > main {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .actions {
    margin: 10px 0;
    text-align: right;

    .Button + .Button {
      margin-left: 10px;
    }
  }

  &.compact {
    width: 300px;
    margin: 0 auto;
  }
}
